@import url("style/header.css");
body {
    background-color: rgb(203, 94, 135);
}
.container img{
    max-width:200px;
    max-height: 100px;
    width:auto;
    height: auto;
}

.h1 {
    color:rgb(70, 70, 156);
}

.h2 {

    color:rgb(107, 52, 52);
   
}